body {
    margin: 0px;
    padding: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    padding: 30px;

    background: gray;
    color:seagreen;

    font-size: 3em;
    font-weight: bold;
}
nav{
    display: flex;
    justify-content: flex-start;
    background: greenyellow;
}
nav a{
    color:tomato;
    text-decoration: none;
    padding: 15px;
}
nav a:hover{
    background: blueviolet;
    color: burlywood;
}