.parragraph1 {
    width: 800px;
    text-align: left;
    text-indent: 5px;
    font-size: 0.75em;
    text-decoration-style: solid;
    font-family: 'Courier New', Courier, monospace;
}

.parragraph2 {
    width: 900px;
    text-align: center;
    text-indent: 5px;
    font-size: 1em;
    text-decoration-style: wavy;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parragraph3 {
    width: 1000px;
    text-align: right;
    text-indent: 5px;
    font-size: 1.5em;
    text-decoration-style: double;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}